DATABASE_URL="mongodb://<username>:<password>@users-shard-00-00.<cluster>.mongodb.net:27017,users-shard-00-01.<cluster>.mongodb.net:27017,users-shard-00-02.<cluster>.mongodb.net:27017/<database>?ssl=true&replicaSet=<replicaSetName>&authSource=admin&retryWrites=true&w=majority"
PORT=3000
